<?xml version="1.0"?>
<configuration>
	<system.webServer >
	</system.webServer>
	<appSettings>
		<add key="IsInTestMode" value="Yes"/>
	</appSettings>
	<connectionStrings>
  <add name="EmployeeDB" connectionString="Data source=.\SQLEXPRESS;Integrated Security=yes;Initial Catalog=test_EmployeeInfo_SK_v2_2;" />
 </connectionStrings>
	<system.web>
		<xhtmlConformance mode="Strict" />
		<pages styleSheetTheme="brown" enableEventValidation="false">
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>
		<compilation debug="true" strict="false" explicit="true"/>
		<!-- If the mode is "On" the application will be redirected to the Error page. -->
		<customErrors mode="Off" defaultRedirect="~/public/error-page.aspx"/>
		<!-- maxRequestLength: the limit for the input stream buffering threshold, in KB.
		The value 1048576 is for 1 GB (1024 x 1024 KB).
		executionTimeout: Specifies the maximum number of seconds -->
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
		<!-- Gets and sets the amount of time, in minutes, allowed between requests before the session-state provider terminates the session.
		Default is 20 minute.
		-->
		<sessionState timeout="10"/>
		<authentication mode="Forms" >
			<!-- Default is 20 minute.-->
			<forms timeout="30" loginUrl="~/public/log-on.aspx"/>
		</authentication>
		<authorization>
			<allow users="?"/>
		</authorization>
	</system.web>
	<location path="admin">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="private">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
